<h1>All Articles</h1>
<p>Hello</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan = "3">Actions</th>

    </tr>
  </thead>
  <tbody > 
   <% @all_articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td>  <%= link_to 'Show', article_path(article) %></td>
      <td>  <%= link_to 'Edit', edit_article_path(article) %></td>

      <td >
       <%= button_to 'Delete', article, method: :delete, form: {
        data: {turbo_confirm: "Are Your Sure"}}%> 
      
      </td>

    </tr>
   <% end %>
  </tbody>
</table>
<%= link_to "Create article", new_article_path %>
<br>


<%= link_to 'Home Page', root_path %> |
<%= link_to 'About page', about_path %>